
<div class="h-100">
  <div class="mt-5 d-flex">
    <div class="col-2"></div>
    <div class="col-9">
      <h1 class="text-uppercase text-second font-raleway-heading f-w-1">SANNE SIDELL</h1>
      <p class="main-color-text font-code text-p ">/* Blivande frontend-utvecklare */</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-2 side1 v-100">
      <p class="text-dark-prim f-z-2 font-code mb-3">01</p>
      <div class="line-y-1 v-100"></div>
    </div>
    <div class="col-10 col-lg-8">

      <div class="d-lg-flex about-text mb-5">

        <div class="d-md-flex justify-content-between mb-5">
  
          <div class="col-md-6 col-lg-6 text">
  
            <p class="text-dark-prim f-z font-code mb-3 about"><<span>about</span>></p>
            
              <p class="ms-4 col-11">
                Har alltid haft ett intresse för färg och form samt skapande på alla sätt. 
                När jag bestämde mig för att byta karriär efter 7 år i detaljhandeln
                var det dom 
                nyckelorden jag hade med mig för att hitta rätt. 
                Jag ville ha kvar skapandet i att bygga upp något från grunden, 
                plannerandet av kampanjer och kundfokus men även få med ännu mer kreativitet och problemlösning. 
                Detta landade i frontend-utveckling och jag uppskattar redan hur oändligt med 
                utvecklingspotential som finns i den här branschen.
              </p>
          
             <p class="text-dark-prim f-z font-code"><<span>/about</span>></p>
          </div>
          <div class="col-md-6 col-lg-4 about-img-box">
            <img class="img-fluid about-img" src="../../../assets/images/b2.png" alt="">
          </div>
          
        </div>
        <img class="img-fluid about-icon" src="../../../assets/images/desk-group.svg" alt="">
  
      </div>
    </div>
  </div>


  <div class="d-flex mt-5">
    <div class="col-2 side2">
      <p class="text-dark-prim f-z-2 font-code mb-3">02</p>
      <div class="line-y-2"></div>
    </div>
    <div class="col-9">
      <div class="d-lg-flex justify-content-between">
      
        <div class="erfarenhet">
          <p class="text-dark-prim f-z font-code mb-3"><<span>erfarenhet</span>></p>
          
          <div class="d-flex mr mb-3">
            <div>
              <p class="secondary-color-text font-code f-z me mb-0">2019-2020 </p>
              <p class="text-dark-prim font-code f-z me">Aug-Mar </p>
            </div>
            <div>
              <p class="font-raleway-space mb-1">Storkens Bud & Transport, <br/> Köping</p>
              <div class="d-flex">
                <div class="me">
                  <p class="mb-0"><strong>Anställningstyp:</strong></p>
                  <p><strong>Befattning:</strong></p>
                </div>
                <div>
                  <p class="mb-0">Behovsanställd</p>
                  <p>Budbilschafför</p>
                </div>
              </div>
            </div>
          </div>
    
          <div class="d-flex mr mb-3">
            <div>
              <p class="secondary-color-text font-code f-z me mb-0">2017-2018</p>
              <p class="text-dark-prim font-code f-z me">Sep-Dec</p>
            </div>
            <div>
              <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
              <div class="d-flex">
                <div class="me">
                  <p class="mb-0"><strong>Anställningstyp:</strong></p>
                  <p><strong>Befattning:</strong></p>
                </div>
                <div>
                  <p class="mb-0">Vikariat</p>
                  <p>Teamleader, säljansvarig</p>
                </div>
              </div>
            </div>
          </div>
    
          <div class="d-flex mr mb-3">
            <div>
              <p class="secondary-color-text font-code f-z me mb-0">2016-2017</p>
              <p class="text-dark-prim font-code f-z me">Jan-Feb</p>
            </div>
            <div>
              <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
              <div class="d-flex">
                <div class="me">
                  <p class="mb-0"><strong>Anställningstyp:</strong></p>
                  <p><strong>Befattning:</strong></p>
                </div>
                <div>
                  <p class="mb-0">Vikariat</p>
                  <p>Teamleader, merchendiser</p>
                </div>
              </div>
            </div>
          </div>
    
          <div class="d-flex mr">
            <div>
              <p class="secondary-color-text font-code f-z me mb-0">2012-2016</p>
              <p class="text-dark-prim font-code f-z me">Nov-Jan</p>
            </div>
            <div>
              <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
              <div class="d-flex">
                <div class="me">
                  <p class="mb-0"><strong>Anställningstyp:</strong></p>
                  <p><strong>Befattning:</strong></p>
                </div>
                <div>
                  <p class="mb-0">Tillsvidare, deltid</p>
                  <p>Säljare</p>
                </div>
              </div>
            </div>
          </div>
    
          <p class="text-dark-prim f-z font-code mb-3"><<span>/erfarenhet</span>></p>
        </div>
    
        <div class="mb-5 utbildning">
          <p class="text-dark-prim f-z font-code mb-3"><<span>utbildning</span>></p>
            <div class="d-flex mr mb-3">
              <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2020-2022</p>
              <div>
                <p class="font-raleway-space mb-0">EC Utbildning</p>
                <p>Frontend-utvecklare</p>
              </div>
            </div>
            <div class="d-flex mr mb-3">
              <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2019-2019</p>
              <div>
                <p class="font-raleway-space mb-0">Hermods</p>
                <p>Programmering <span class="font-code">1</span></p>
                <p>Webbutveckling <span class="font-code">1</span></p>
              </div>
            </div>
            <div class="d-flex mr">
              <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2008-2011</p>
              <div>
                <p class="font-raleway-space mb-0">Carlforsska Gymnasiet</p>
                <p>Estetiska linjen,</p>
                <p>inriktning musik</p>
              </div>
            </div>
          <p class="text-dark-prim f-z font-code mb-3"><<span>/utbildning</span>></p>
        </div>
    
    
      </div>
    </div>
  </div>

  <div class="d-flex my-5">
    <div class="col-2 side3">
      <p class="text-dark-prim f-z-2 font-code mb-3">03</p>
      <div class="line-y-3"></div>
    </div>
    <div class="col-9">
      <div class="d-md-flex justify-content-between align-items-end main">
        <div class="col-10 col-md-4 col-lg-4 me">
          <p class="text-dark-prim f-z font-code mb-3"><<span>main-skills</span>></p>
            <p class="main-color-text f-z font-code mr">-> HTML</p> 
            <p class="main-color-text f-z font-code mr">-> CSS / SASS</p> 
            <p class="main-color-text f-z font-code mr">-> JavaScript</p> 
            <p class="main-color-text f-z font-code mr">-> Vue</p> 
            <p class="main-color-text f-z font-code mr">-> React</p> 
            <p class="main-color-text f-z font-code mr">-> Angular</p> 
            <p class="main-color-text f-z font-code mr">-> Adobe Xd</p> 
            <p class="main-color-text f-z font-code mr">-> Phostoshop</p> 
          <p class="text-dark-prim f-z font-code mb-0"><<span>/main-skills</span>></p>
        </div>
    
    
        <div class="desk-box col-12 col-mb-8 col-lg-10 mr mb-4">
          <div class="desk">
            <div id="steem">
              <div id="steem-box">
                <img id="s-1" src="../../../assets/images/animation/desk/steem-r-2.svg" alt="">
                <img id="s-2" src="../../../assets/images/animation/desk/steem-r-1.svg" alt="">
                <img id="s-3" src="../../../assets/images/animation/desk/steem-mid.svg" alt="">
                <img id="s-4" src="../../../assets/images/animation/desk/steem-l-2.svg" alt="">
                <img id="s-5" src="../../../assets/images/animation/desk/steem-l-1.svg" alt="">
              </div>
            </div>
            <img id="mug" src="../../../assets/images/animation/desk/mug-front.svg" alt="">
            <img id="maps" src="../../../assets/images/animation/desk/maps.svg" alt="">
            <img id="code-base" src="../../../assets/images/animation/desk/code-group.svg" alt="">
            <img id="code-line-base" src="../../../assets/images/animation/desk/code-line-base.svg" alt="">
            <div id="code-box">
              <div id="line-box">
                <img id="code-line" src="../../../assets/images/animation/desk/code-line-2.svg" alt="">
              </div>
              <div id="blink-line-box">
                <img id="blink-line" src="../../../assets/images/animation/desk/blink-line.svg" alt="">
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>


</div>






























<!-- <div class="d-flex h-100">

  <div class="side col-2 h-100">
    <p class="text-dark-prim f-z-2 font-code mb-3">01</p>
    <div class="line-y-1"></div>
    <p class="text-dark-prim f-z-2 font-code mb-3">02</p>
    <div class="line-y-2"></div>
    <p class="text-dark-prim f-z-2 font-code mb-3">03</p>
    <div class="line-y-3"></div>
  </div>

  <div class="col-9 col-md-8">


    <div class="d-flex justify-content-center flex-column about-text">
      <h1 class="text-uppercase text-second font-raleway-heading f-w-1">SANNE SIDELL</h1>
      <p class="main-color-text font-code text-p">/* Blivande frontend-utvecklare */</p>
      <div class="d-md-flex justify-content-between align-items-center mb-5">

        <div class="col-md-6 col-lg-7 text">

          <p class="text-dark-prim f-z font-code mb-3 about"><<span>about</span>></p>
          
            <p class="ms-4 col-11">
              Har alltid haft ett intresse för färg och form samt skapande på alla sätt. 
              När jag bestämde mig för att byta karriär efter 7 år i detaljhandeln
              var det dom 
              nyckelorden jag hade med mig för att hitta rätt. 
              Jag ville ha kvar skapandet i att bygga upp något från grunden, 
              plannerandet av kampanjer och kundfokus men även få med ännu mer kreativitet och problemlösning. 
              Detta landade i frontend-utveckling och jag uppskattar redan hur oändligt med 
              utvecklingspotential som finns i den här branschen.
            </p>
        
           <p class="text-dark-prim f-z font-code"><<span>/about</span>></p>
        </div>
        <div class="col-md-6 col-lg-4 about-img-box">
          <img class="img-fluid about-img" src="../../../assets/images/b2.png" alt="">
        </div>
        
      </div>
      <img class="img-fluid about-icon" src="../../../assets/images/desk-group.svg" alt="">

    </div>
  
  
    <div class="d-lg-flex justify-content-between">
      
      <div class="erfarenhet">
        <p class="text-dark-prim f-z font-code mb-3"><<span>erfarenhet</span>></p>
        
        <div class="d-flex mr mb-3">
          <div>
            <p class="secondary-color-text font-code f-z me mb-0">2019-2020 </p>
            <p class="text-dark-prim font-code f-z me">Aug-Mar </p>
          </div>
          <div>
            <p class="font-raleway-space mb-1">Storkens Bud & Transport, <br/> Köping</p>
            <div class="d-flex">
              <div class="me">
                <p class="mb-0"><strong>Anställningstyp:</strong></p>
                <p><strong>Befattning:</strong></p>
              </div>
              <div>
                <p class="mb-0">Behovsanställd</p>
                <p>Budbilschafför</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex mr mb-3">
          <div>
            <p class="secondary-color-text font-code f-z me mb-0">2017-2018</p>
            <p class="text-dark-prim font-code f-z me">Sep-Dec</p>
          </div>
          <div>
            <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
            <div class="d-flex">
              <div class="me">
                <p class="mb-0"><strong>Anställningstyp:</strong></p>
                <p><strong>Befattning:</strong></p>
              </div>
              <div>
                <p class="mb-0">Vikariat</p>
                <p>Teamleader, säljansvarig</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex mr mb-3">
          <div>
            <p class="secondary-color-text font-code f-z me mb-0">2016-2017</p>
            <p class="text-dark-prim font-code f-z me">Jan-Feb</p>
          </div>
          <div>
            <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
            <div class="d-flex">
              <div class="me">
                <p class="mb-0"><strong>Anställningstyp:</strong></p>
                <p><strong>Befattning:</strong></p>
              </div>
              <div>
                <p class="mb-0">Vikariat</p>
                <p>Teamleader, merchendiser</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="d-flex mr">
          <div>
            <p class="secondary-color-text font-code f-z me mb-0">2012-2016</p>
            <p class="text-dark-prim font-code f-z me">Nov-Jan</p>
          </div>
          <div>
            <p class="font-raleway-space mb-1">Clas Ohlsson, <br/> Västerås</p>
            <div class="d-flex">
              <div class="me">
                <p class="mb-0"><strong>Anställningstyp:</strong></p>
                <p><strong>Befattning:</strong></p>
              </div>
              <div>
                <p class="mb-0">Tillsvidare, deltid</p>
                <p>Säljare</p>
              </div>
            </div>
          </div>
        </div>
  
        <p class="text-dark-prim f-z font-code mb-3"><<span>/erfarenhet</span>></p>
      </div>
  
      <div class="mb-5 utbildning">
        <p class="text-dark-prim f-z font-code mb-3"><<span>utbildning</span>></p>
          <div class="d-flex mr mb-3">
            <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2020-2022</p>
            <div>
              <p class="font-raleway-space mb-0">EC Utbildning</p>
              <p>Frontend-utvecklare</p>
            </div>
          </div>
          <div class="d-flex mr mb-3">
            <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2019-2019</p>
            <div>
              <p class="font-raleway-space mb-0">Hermods</p>
              <p>Programmering <span class="font-code">1</span></p>
              <p>Webbutveckling <span class="font-code">1</span></p>
            </div>
          </div>
          <div class="d-flex mr">
            <p class="secondary-color-text font-code f-z me col-4 col-md-2 col-lg-3">2008-2011</p>
            <div>
              <p class="font-raleway-space mb-0">Carlforsska Gymnasiet</p>
              <p>Estetiska linjen,</p>
              <p>inriktning musik</p>
            </div>
          </div>
        <p class="text-dark-prim f-z font-code mb-3"><<span>/utbildning</span>></p>
      </div>
  
  
    </div>
  
    <div class="d-md-flex justify-content-between align-items-end my-5 main">
      <div class="col-10 col-md-4 col-lg-4 me">
        <p class="text-dark-prim f-z font-code mb-3"><<span>main-skills</span>></p>
          <p class="main-color-text f-z font-code mr">-> HTML</p> 
          <p class="main-color-text f-z font-code mr">-> CSS / SASS</p> 
          <p class="main-color-text f-z font-code mr">-> JavaScript</p> 
          <p class="main-color-text f-z font-code mr">-> Vue</p> 
          <p class="main-color-text f-z font-code mr">-> React</p> 
          <p class="main-color-text f-z font-code mr">-> Angular</p> 
          <p class="main-color-text f-z font-code mr">-> Adobe Xd</p> 
          <p class="main-color-text f-z font-code mr">-> Phostoshop</p> 
        <p class="text-dark-prim f-z font-code mb-0"><<span>/main-skills</span>></p>
      </div>
  
  
      <div class="desk-box col-12 col-mb-8 col-lg-10 mr mb-4">
        <div class="desk">
          <div id="steem">
            <div id="steem-box">
              <img id="s-1" src="../../../assets/images/animation/desk/steem-r-2.svg" alt="">
              <img id="s-2" src="../../../assets/images/animation/desk/steem-r-1.svg" alt="">
              <img id="s-3" src="../../../assets/images/animation/desk/steem-mid.svg" alt="">
              <img id="s-4" src="../../../assets/images/animation/desk/steem-l-2.svg" alt="">
              <img id="s-5" src="../../../assets/images/animation/desk/steem-l-1.svg" alt="">
            </div>
          </div>
          <img id="mug" src="../../../assets/images/animation/desk/mug-front.svg" alt="">
          <img id="maps" src="../../../assets/images/animation/desk/maps.svg" alt="">
          <img id="code-base" src="../../../assets/images/animation/desk/code-group.svg" alt="">
          <img id="code-line-base" src="../../../assets/images/animation/desk/code-line-base.svg" alt="">
          <div id="code-box">
            <div id="line-box">
              <img id="code-line" src="../../../assets/images/animation/desk/code-line-2.svg" alt="">
            </div>
            <div id="blink-line-box">
              <img id="blink-line" src="../../../assets/images/animation/desk/blink-line.svg" alt="">
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  
  </div>

</div>



 -->
