<footer class="text-center bg-darker-gray overlay footer-p container-fluid">

    
    <div class="d-flex justify-content-between align-items-center footer-margin">
      <div class="d-flex align-items-center footer-text"> © 
        <p class="ms-2 mb-0 font-code ">2021 </p>
        <p class="ms-4 mb-0 font-raleway-spacing ">SANNE SIDELL</p>
      </div>
      <!-- <div class="d-flex align-items-center">

        <a class=" text-dark bg-light btn btn-floating m1 me-5" href="#!" role="button"
          ><i class="fab fa-linkedin-in fa-2x"></i
        ></a>

        <a class="text-light btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github fa-3x"></i
        ></a>
      </div> -->


      <a class="d-flex align-items-center">
        <a class="icon-linkedin pointer" href="https://se.linkedin.com/in/sanne-sidell" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
        <a class="icon-github ms-5 me-2 pointer" href="https://github.com/Sharpi3s" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </a>

    </div>



</footer>