<div class="height">

  
  <div class="d-flex justify-content-between align-items-end bubbles px-5">
    <div class="pink">
      <img src="../../../assets/images/animation/water/pink bubbles.svg" alt="">
    </div>
    <div class="green">
      <img src="../../../assets/images/animation/water/green bubbles.svg" alt="">
    </div>
  
  </div>

  <div class="d-flex justify-content-center align-items-center text-center pt-5">
  
    <div class="col-4 ">
      <div class="squid-box">
        <img id="squid1" src="../../../assets/images/animation/water/squid-left.svg" alt="">
        <img id="squid2" src="../../../assets/images/animation/water/squid-right.svg" alt="">
        <img id="squid" src="../../../assets/images/animation/water/squid-body.svg" alt="">
      </div>
    </div>
  
    <div class="col-2">
      <h1 id="tack" class="text-uppercase text-second font-raleway-heading display-4 f-w-2">TACK !</h1>
      <p class="text-second font-code mb-3">Ditt meddelande är skickat, <br/> hörs så snart som möjligt</p>
    </div>
  
    <div class="col-4">
      <div class="jelly-box">
        <img id="bloob" src="../../../assets/images/animation/water/blobbs.svg" alt="">
        <img id="jelly" src="../../../assets/images/animation/water/jelly-head.svg" alt="">
      </div>
    </div>
  
  </div>

  <!-- <div class="bubbles">
    <div class="pink col-6 d-flex justify-content-around align-items-end">
      <img src="../../../assets/images/animation/water/pink-singel-s.png" alt="">
      <img src="../../../assets/images/animation/water/pink-singel-m.png" alt="">
      <img src="../../../assets/images/animation/water/pink-singel-s.png" alt="">
      <img src="../../../assets/images/animation/water/pink-single-l.png" alt="">
      <img src="../../../assets/images/animation/water/pink-singel-s.png" alt="">
    </div>
    <div class="green col-6 d-flex justify-content-around align-items-end">
      <img src="../../../assets/images/animation/water/green-single-s.png" alt="">
      <img src="../../../assets/images/animation/water/green-single-m.png" alt="">
      <img src="../../../assets/images/animation/water/green-single-s.png" alt="">
      <img src="../../../assets/images/animation/water/green-single-l.png" alt="">
      <img src="../../../assets/images/animation/water/green-single-s.png" alt="">
    </div>
  </div>
  <div class="bubbles">
    <div class="pink col-6 d-flex justify-content-evenly align-items-end">
      <img src="../../../assets/images/animation/water/ping-group-1.png" alt="">
      <img src="../../../assets/images/animation/water/ping-group-2.png" alt="">
      <img src="../../../assets/images/animation/water/ping-group-3.png" alt="">
      <img src="../../../assets/images/animation/water/ping-group-4.png" alt="">
    </div>

    <div class="green col-6 d-flex justify-content-evenly align-items-end">
      <img src="../../../assets/images/animation/water/green-group-1.png" alt="">
      <img src="../../../assets/images/animation/water/green-group-2.png" alt="">
      <img src="../../../assets/images/animation/water/green-group-3.png" alt="">
      <img src="../../../assets/images/animation/water/green-group-4.png" alt="">
    </div>

  </div> -->



</div>